:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --title-text-color:#000000;
    --accent-color:#18a0fb;
    --link-hover-text-color: #2196F3;
    --button-background-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --first-logo-color:#2196F3;
    --header-logo-second-color:#212121;
    --footer-logo-second-color:#fff;
    --primary-font-family:'roboto' , sans-serif;
    --logo-font-family: 'Raleway';
    --primary-link-color:#212121;
    --secondary-link-color:#757575;
    --active-btn-background:#2196F3;
    --footer-background:#2F303A;
    --nav-item-height:16px;
    }
    
    /*Reset start*/
    *{
        box-sizing: border-box;
    }
    p,
    h1,
    h2,    
    h3,
    h4,
    h5,
    h6,
    ul,
    ol{
        margin: 0;
    }
    ul,ol{
        padding-left: 0;
    }
        img {
            display: block;
        }
    /*Reset END*/

body {
    background-color: var(--primary-white-color);
     color: var(--primary-text-color);
    font-family: var(--primary-font-family);   
}

.liststyle {
    list-style: none;
}

.primary-btn{
font-family: var(--primary-font-family);
cursor: pointer;
border: none;
border-radius: 4px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;  
    clip: rect(0 0 0 0);
    clip-path: inset(50%);    
    margin: -1px;    
}
/*-----------------------index.html style-----------------------*/

    

/*-----------------------index.html head--------------------------*/
.header-logo{
    text-decoration: none;       
        font-family: var(--logo-font-family);        
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;            
        letter-spacing: 0.03em;    
        color: var(--first-logo-color);
}
.header-logo-color{
    color: var(--primary-text-color);
}
.header-logo:hover,
.header-logo:focus{
    background-color: ;
}

.link{
    cursor: pointer;
        text-decoration: none;    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;        
    }
.site-nav .link{
    color: var(--primary-link-color);
}
.auth-nav .link {    
    color: var(--secondary-link-color);
}
.link:hover,
.link:focus{  
    color: var(--link-hover-text-color);
}

/*--------------------------Index.html Hero--------------------*/

.hero{
    background-color: var(--footer-background);
    
    }

.hero-title {    
   text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.orderbutton:hover,
.orderbutton:focus{
    
        color: var(--primary-white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.orderbutton{ 
    background: var(--active-btn-background);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    color: var(--primary-white-color);
               
}

/*------------------------------Index.html Benefits-----------------*/

.title{         
        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
        color: var(--primary-text-color);
}

.benefits-description{        
        
        font-size: 14px;
        line-height: 1.72;   
        letter-spacing: 0.03em;    
        color: var(--secondary-text-color);
}

/*----------------------Index.html What are we doing---------------*/

.section-title,
.team-title{
    font-family: var(--primary-font-family);        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--primary-text-color);
}

/*-----------------------------Index.html Our team-----------------*/
.team{        
        background: #F5F4FA;
    }

.team-head{        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;    
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--primary-text-color);
}

.team-description{    
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/*----------------------------Index.html Footer--------------------*/
.footer{
    background: var(--footer-background);       
}
.footer-logo{
    text-decoration: none;          
        font-family: var(--logo-font-family);        
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;   
        letter-spacing: 0.03em;    
        color: var(--first-logo-color);
}

.footer-logo-color{
    color: var(--primary-white-color);
}

.footerlink {
    text-decoration: none;      
    font-style: normal;        
        
        font-size: 14px;
        line-height: 1.72;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}


.address-list [href="https://goo.gl/maps/jDqAUScKy7oYHd1V8"]{
color: var(--primary-white-color);

}

/* -----------------------portfolio.html style---------------------*/
/*Portfolio head -- The same as for index.html-- go to row 31*/

/*------------------------Portfolio navigation----------------------*/

.portfolio-filters .primary-btn:hover,
.portfolio-filters .primary-btn:focus{
    background: var(--active-btn-background);
    color: var(--primary-white-color);    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-allbutton,
.portfolio-webbutton,
.portfolio-appbutton,
.portfolio-designbutton,
.portfolio-marketingbutton{   
        
        border-radius: 4px;
}
.allbutton,
.webbutton,
.appbutton,
.designbutton,
.marketingbutton{        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;    
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--primary-text-color);        
}

.portfolio-title{ 
font-weight: 700;
font-size: 18px;
line-height: 2;    
letter-spacing: 0.06em;    
color: var(--primary-text-color);
}
.portfolio-description{        
        
        font-size: 16px;
        line-height: 1.88;   
        letter-spacing: 0.03em;    
        color: var(--secondary-text-color);
}
/* index html Flex conteiner markUp*/

.conteiner{
    outline: red solid 1px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;        
}

.section{
    padding: 0px 200px 0px 200px;
    width: 1600px;
    outline: green solid 2px;    
    margin: 0px 0px 94px 0px;     
}

.section.no-padding{
    padding: 0px 200px;
}

.section.no-margin{
    margin-bottom: 0px;
    margin-top: 0px;
}

.main-navigation{ 
    display: flex;   
    align-items: center;
    justify-content: space-around;
}
.navigation {
    display: inherit;
    align-items: inherit;
}
.header-logo{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}


.site-nav{
    display: inherit;
}
.site-nav .item{
    height: var(--nav-item-height);
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.auth-nav{
    display: flex;
}
.auth-nav .item{
    height: var(--nav-item-height);
}
.auth-nav .item:not(:last-child){
    margin-right: 50px;
}

.hero.section {
    width: 1584px;
    padding-right: 184px;
    margin-right: 16px;
    min-height: 600px; 
    text-align: center;
}
.hero .conteiner{
    padding-top: 200px;
    padding-bottom: 200px;       
}
.hero-title{
    margin: auto;
    width: 696px;
}

.primary-btn {    
    text-align: center;
    }
.btn-text{
    margin: 10px 32px;
}

.orderbutton {
    margin-top: 30px;    
    min-width: 200px;
    height: 50px;
    
}

.benefits-list{
    display: flex;
    flex-wrap: wrap;
}
.benefits-item{
    width: 270px;
}
.benefits-item:not(:last-child){
    margin-right: 30px;
}
.benefits-description{
    padding-top: 10px;    
}

.doing-list{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.doing-item{
    width: 370px;
}
.doing-item:not(:last-child){
    margin-right: 30px;
}

.team .conteiner{
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list{
    padding-top: 50px;    
    display: flex;
    flex-wrap: wrap;

}
.team-item{
    background-color: #fff;
    width: 270px;
}
.team-item:not(:last-child){
    margin-right: 30px;
}
.team-titl{
    
}
.team-head{
    padding-top: 30px;
    padding-bottom: 10px;
}
.team-description{
    padding-bottom: 30px;
}

.footer .conteiner{
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    display: block;
    padding-bottom: 20px;
}
.address-item:not(:last-child){
    padding-bottom: 9px;
}

/*Portfolio html Flex conteiner markUp*/